
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /desenvolvimento/rai/prevhab/2014/wwwroot/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /desenvolvimento/rai/prevhab/2014/wwwroot/index.php [L]
</IfModule>

# END WordPress
